
.footer {
  background-color: var(--color-primary);
  padding: 24px;
  font-family: 'HumanBeomseokNeoVF', sans-serif; /* 기본 폰트 설정 */
  color: var(--color-text);
  border-top: 1px solid var(--color-bg-light);

}

.footer__top {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 14px;
}

.footer__notice {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text);
}

.footer__links {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.footer__links a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; 
}

.footer__links a:hover {
  color: red
}

.divider {
  margin: 0 6px;
  color: #999;
}

.footer__company {
  line-height: 1.6;
  font-size: 13px;
  
}

.footer__company_name {
  font-weight: 700;
  font-size: 20px;
}


@media (max-width: 768px) {
  .footer {
    padding: 16px;
    font-size: 13px;
  }

  .footer__top {
    display: flex;
    gap: 4px;
    font-size: 15;
  }

  .footer__links {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    font-size: 13px;
  }

  .footer__company {
    font-size: 13px;
    line-height: 1.4;
  }
}
