/* 마이 페이지 */
.web_order_delivery {
  display: none;
}

.my_page {
  display: flex;
  flex-flow: column wrap;
  padding-inline: 1rem;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-bottom: 3rem;
}

/* 등급혜택 */
.membership_section {
  display: flex;
  flex-flow: column wrap;
  margin-top: 4vh;
}

.membership_wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 3vw;
  margin-bottom: 2vh;
}

.membership_container {
  display: flex;
  flex-flow: column wrap;
  gap: 0.8vw;
}

.membership_badge {
  font-size: 0.75rem;
  font-weight: 600;
  color: #081818;
}

.membership_title {
  font-size: 1rem;
  font-weight: 700;
  color: #081818;
}

/* 스탬프, 포인트 */
.benefit_list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 8vh;
  background-color: rgba(208, 208, 208, 0.2);
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.benefit_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 25vw;
  text-decoration: none;
}

.benefit_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.benefit_title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #081818;
}

.benefit_arrow {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #081818;
}

.benefit_value {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #ac1313;
}

/* 진행 중인 주문 */
.order_status_section {
  margin-top: 4vh;
}

.my_page_list_title {
  font-size: 1rem;
  font-weight: 700;
  color: #081818;
}

.my_page_list_title_divider {
  height: 1px;
  background-color: #081818;
  border: none;
}

.order_status_wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 2vh;
  border: solid 1px #b6c5c5;
  border-radius: 3vw;
  padding: 4vw;
  gap: 3vw;
  align-items: center;
  justify-content: center;
}

.order_status_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.order_step_wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 3vw;
  align-items: center;
}

.order_step {
  display: flex;
  border: solid 1px #b6c5c5;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  justify-content: center;
  align-items: center;
}

.order_step_count {
  font-size: 1rem;
  font-weight: 700;
  color: #081818;
}

.order_step_arrow {
  font-size: 1rem;
  font-weight: 700;
  color: #081818;
}

.order_count_point_color {
  font-size: 1rem;
  font-weight: 700;
  color: #ac1313;
}

.order_step_label_wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 9vw;
}

.order_step_label {
  font-size: 2.6vw;
  font-weight: 700;
  color: #081818;
}
/* 쇼핑정보 */

.shopping_info_section {
  margin-top: 4vh;
}

.shopping_info_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.6vw 3.5vw 0.6vw 3.5vw;
  text-decoration: none;
}

.my_page_label {
  font-size: 0.875rem;
  font-weight: 700;
  color: #081818;
}

.my_page_arrow {
  font-size: 0.875rem;
  font-weight: 700;
  color: #081818;
}

.my_page_divider {
  height: 1px;
  background-color: #b6c5c5;
  border: none;
}

/* 혜택관리 */
.count_point_section {
  margin-top: 4vh;
}

.count_point_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.6vw 3.5vw 0.6vw 3.5vw;
  text-decoration: none;
}

/* 회원정보 수정 */
.account_section {
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.account_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.6vw 3.5vw 0.6vw 3.5vw;
}

@media (min-width: 480px) {
  .my_page {
    display: none;
  }
}
