/* 모바일뷰 */
@media (max-width: 30rem) {
  .web_order_root_header {
    display: none;
  }
  .web_total_recipe_root_header {
    display: none;
  }
  /* 주문하기 페이지 최상단 root */
  .mobile_order_root_header {
    padding: 0rem 1rem;
    width: 100%;
    background: #fcfcfc;
    padding-top: 1rem;
  }

  /* 최상단 header */
  .mobile_order_header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  /* 뒤로가기 버튼 */
  .mobile_order_header_back_icon_wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    aspect-ratio: 1/1;
    border: none;
    background: inherit;
  }
  /* 주문/결제 text */
  .mobile_order_header_text {
    font-size: 16px;
    font-weight: 400;
  }

  /* 주문상품, 총 1건 text */
  .mobile_order_item_header {
    margin-top: 1.375rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 0.0625rem solid black;
    padding-bottom: 0.5rem;
  }
  /* 주문상품, 총 1건 text */
  .mobile_order_item_header span {
    font-size: 1rem;
    font-weight: bold;
  }
  /* 화살표 아이콘 */
  .mobile_order_arrow_icon_wrapper {
    position: relative;
    width: 18px;
    height: 18px;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    background: inherit;
  }
  /* 총1건, 화살표 아이콘 영역 */
  .mobile_order_total_arrow_icon_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }

  /* 장바구니 영역 */
  .mobile_order_item_basket_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.75rem 0.75rem 0.625rem 0.75rem;
    border: 1px solid #b6c5c5;
    border-radius: 0.9375rem;
    margin-top: 1.125rem;
  }

  /* 장바구니 text 및 화살표 아이콘 */
  .mobile_order_item_basket_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* 장바구니 옆 화살표 아이콘 */
  .mobile_order_basket_arrow_icon_wrapper {
    position: relative;
    width: 12px;
    height: auto;
    aspect-ratio: 13/8;
    outline: none;
    border: none;
    background: inherit;
    transform: rotate(90deg);
  }

  /* 상품이 추가될 영역 */
  .mobile_order_item_list {
    width: 100%;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  /* 추가된 상품의 영역 */
  .mobile_order_item_area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* 이미지와 상품명 */
  .mobile_order_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.75rem;
  }
  /* 상품명 */
  .mobile_order_item span {
    font-size: 0.75rem;
    font-weight: 400;
  }
  /* 상품 이미지 */
  .mobile_order_item_image_wrapper {
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 0.625rem;
  }
  /* 장바구니 총 개수 */
  .mobile_order_basket_item_count_wrapper {
    width: 100%;
    height: 1.9375rem;
    background-color: rgba(217, 217, 217, 0.3);
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
    margin-top: 1.625rem;
  }
  /* 장바구니 총 개수 text */
  .mobile_order_basket_item_count {
    font-size: 0.75rem;
    font-weight: 400;
  }

  /* 상품금액 */
  .mobile_order_basket_item_price_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 0.625rem;
  }
  /* 상품금액 text */
  .mobile_order_basket_item_price_wrapper span {
    font-size: 12px;
    font-weight: 400;
  }

  /* 최종 영수증 영역 */
  .mobile_order_final_recipe_section {
    border: 1px solid black;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem 12px 0.5rem;
  }

  /* 최종 영수증 상단부 영역 */
  .mobile_order_final_recipe_top_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* 최종 영수증 총xxx text 영역 */
  .mobile_order_fianl_recipe_total_title,
  .mobile_order_fianl_recipe_item_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
  }
  /* 상품 가격 및 갯수 오른쪽 끝 공간에 붙이기 */
  .mobile_order_fianl_recipe_item_info {
    align-items: flex-end;
  }
  /* 글자 스타일링 */
  .mobile_order_fianl_recipe_total_title span,
  .mobile_order_fianl_recipe_item_info span {
    font-size: 12px;
    font-weight: 400;
  }
  /* 최종 영수증 중간선 스타일링 */
  .mobile_order_final_recipe_line {
    padding: 0;
    width: 100%;
    height: 1px;
    border: none;
    background-color: black;
  }
  /* 최종 영수증 하단부 영역 */
  .mobile_order_final_recipe_bottom_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* 최종 영수증 하단 레이아웃 */
  .mobile_order_final_recipe_bottom_total_title,
  .mobile_order_final_recipe_bottom_item_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
  }
  /* 최종 영수증 하단부 오른쪽 끝 붙이기 */
  .mobile_order_final_recipe_bottom_item_info {
    align-items: flex-end;
  }
  /* 최종 영수증 하단부 font 스타일링 */
  .mobile_order_final_recipe_bottom_total_title span,
  .mobile_order_final_recipe_bottom_item_info span {
    font-size: 0.75rem;
    font-weight: 400;
  }
  /* 총 상품금액 금액 text */
  .mobile_order_final_recipe_bottom_item_total_price {
    color: #ac1313;
  }

  /* 장바구니 가기 버튼 영역  */
  .mobile_order_go_shopping_cart_button_wrapper {
    margin-top: 1rem;
    width: 100%;
  }

  /* 장바구니 가기 버튼 */
  .mobile_order_go_shopping_cart_button {
    width: 100%;
    border: 1px solid #1b4332;
    border-radius: 50px;
    outline: none;
    height: 40px;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.375rem;
  }
  /* 장바구니 버튼 text */
  .mobile_order_go_shopping_cart_button span {
    color: #1b4332;
    font-size: 1rem;
    font-weight: 500;
  }

  /* 주문자 정보 form 영역 fieldset 초기화 */
  .mobile_order_orderer_info_section fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    margin-top: 3.125rem;
  }
  /* 주문자 정보 */
  .mobile_order_orderer_info {
    font-size: 16px;
    font-weight: 400;
  }

  /* 빨간색 * (필수요소) */
  .required_star {
    color: red;
  }

  /* 주문자 정보 영역 */
  .mobile_order_info_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    border-top: 1px solid black;
  }
  /* 입력 영역 */
  .mobile_order_orderer_info_row_layout {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b6c5c5;
  }
  .mobile_order_orderer_info_row_layout label {
    background: rgba(208, 208, 208, 0.3);
  }
  .mobile_order_orderer_info_row_layout input {
    flex: 1;
    height: 1.875rem;
    padding: 0.625rem;
    margin-left: 10px;
  }

  /* 주문하시는분, 휴대폰 번호 */
  .mobile_order_text_wrapper {
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 100px;
    height: 50px;
    border-right: 1px solid #b6c5c5;
  }
  /* 주문하시는분, 휴대폰 번호 text */
  .mobile_order_text_wrapper span {
    font-size: 12px;
  }

  /* 이메일 부분 root */
  .mobile_order_orderer_info_row_email_layout {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b6c5c5;
    height: 88px;
  }
  .mobile_order_orderer_info_row_email_layout label {
    background: rgba(208, 208, 208, 0.3);
  }
  /* 이메일 부분 input */
  .mobile_order_orderer_info_row_email_layout input {
    padding: 10px;
  }
  /* 이메일 부분 text */
  .mobile_order_email_text_wrapper span {
    font-size: 0.75rem;
  }

  .mobile_order_email_text_wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.625rem;
    width: 6.25rem;
    height: 5.5rem;
    border-right: 0.0625rem solid #b6c5c5;
  }

  /* 이메일 부분 input , select 영역 */
  .mobile_order_email_input_select_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 10px;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
  }
  /*  이메일 부분 input, select */
  .mobile_order_email_input_select_wrapper input,
  .mobile_order_email_input_select_wrapper select {
    width: 100%;
    height: 30px;
  }
  /* 구매내역 설명 영역 */
  .mobile_order_explain_section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.25rem;
    margin-top: 1.25rem;
    border: 1px solid #b6c5c5;
    border-radius: 0.9375rem;
    padding: 16px 0px 16px 10px;
  }
  /* 구매내역 설명 영역 text */
  .mobile_order_explain_section span {
    color: #6b7878;
    font-size: 12px;
  }

  /* 배송정보 영역 */
  .mobile_order_post_info_section {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
  }
  /* 배송정보 아래 선 */
  .mobile_order_post_info_header {
    padding-bottom: 0.75rem;
    border-bottom: 0.0625rem solid black;
  }
  /* 배송정보 text */
  .mobile_order_post_info_header span {
    font-size: 1rem;
    font-weight: 400;
    color: black;
  }
  /* 배송정보 하단 라디오 버튼 */
  .mobile_order_post_info_radio_button_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  /* 배송정보 하단 라디오 버튼 text들 */
  .mobile_order_post_info_default_address_wrapper > span,
  .mobile_order_post_info_user_input_rapper > span,
  .mobile_order_post_info_post_adresss_list_wrapper > span {
    font-size: 0.75rem;
    color: black;
    font-weight: 400;
  }

  /* 배송정보 하단 라디오 버튼 layout */
  .mobile_order_post_info_default_address_wrapper,
  .mobile_order_post_info_user_input_rapper,
  .mobile_order_post_info_post_adresss_list_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    align-items: center;
  }
  /* 배송정보 사용자 입력 공간 */
  .mobile_order_post_info_write_section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: none;
    border-top: 1px solid #b6c5c5;
    padding: 0px;
  }
  /* 입력 영역 */
  .mobile_order_post_info_row_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid #b6c5c5;
    align-items: center;
    width: 100%;
  }
  /* required가 있는 text */
  .mobile_order_post_info_row_layout_required_text {
    font-size: 0.75rem;
    width: 6.875rem;
    height: 3.125rem;
    border-right: 1px solid #b6c5c5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 10px;
    gap: 0.25rem;
    background: rgba(208, 208, 208, 0.3);
  }
  /* required가 없는 text */
  .mobile_order_post_info_row_layout_text {
    width: 6.875rem;
    height: 3.125rem;
    border-right: 1px solid #b6c5c5;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 1.25rem;
    flex-shrink: 0;
    background: rgba(208, 208, 208, 0.3);
  }

  /* 입력 영역 */
  .mobile_order_post_info_row_layout label {
    padding-left: 0.625rem;
    flex: 1;
  }

  /* input 영역 */
  .mobile_order_post_info_row_layout label > input {
    width: 100%;
    height: 30px;
    max-width: 100%;
    font-size: 12px;
    padding-left: 10px;
  }

  /* 배송정보 주소 영역 */
  .post_address {
    height: 11.125rem;
    flex-shrink: 0;
  }

  /* 배송정보 주소 input 영역 */
  .mobile_order_post_info_post_address_input_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 0.625rem;
    gap: 0.625rem;
  }
  .mobile_order_post_info_post_address_input_section label {
    flex: 1;
    padding-left: 0;
  }
  .mobile_order_post_info_post_address_input_section label > input {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 12px;
  }

  /* 우편 번호 검색 버튼 */
  .post_info_post_address_button {
    width: 100%;
    height: 40px;
    background: #1b4332;
    color: #ffffff;
    /* border: 2px solid #1B4332; */
    font-size: 12px;
    font-weight: 500;
    padding: 13px 0;
    border: 0;
  }
  .mobile_order_post_info_post_address_input_section label > input:disabled {
    background: rgba(208, 208, 208, 0.4);
  }

  /* 남기실 말씀 */
  .mobile_order_post_info_orderer_tell {
    height: 5.125rem;
  }
  /* 남기실 말씀  input 영역 */
  .mobile_order_post_info_ordder_sound_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 10px;
    gap: 8px;
  }
  /* 남기실 말씀 span */
  .mobile_order_post_info_ordder_sound_wrapper span {
    font-size: 0.625rem;
  }
  /* 남기실 말씀 input padding-left 값 초기화 */
  .mobile_order_post_info_ordder_sound_wrapper label {
    padding-left: 0px;
  }

  /* 배송지 추가버튼 영역 */
  .mobile_order_post_info_footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
  }
  /* 배송지 추가 체크박스 영역 */
  .mobile_order_post_info_check_box_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
  }

  /*  체크박스 영역 */
  .mobile_order_post_info_button_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
  }

  /* 체크박스 영역 text */
  .mobile_order_post_info_button_wrapper span {
    font-size: 12px;
  }

  /* 결제 정보 영역 */
  .mobile_order_pay_info_section {
    margin-top: 50px;
  }
  /* 결제 정보 text */
  .mobile_order_pay_info_section span {
    font-size: 16px;
    font-weight: 400;
  }

  /* 결제 정보 박스 부분 */
  .mobile_order_pay_info_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: 0.0625rem solid black;
    margin-top: 0.5rem;
  }
  /* 결제 정보 박스 부분 layout */
  .mobile_order_pay_info_row_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 0.0625rem solid #b6c5c5;
  }
  /* 결제 정보 박스 부분 title */
  .mobile_order_pay_info_title {
    width: 110px;
    height: 3.125rem;
    border-right: 1px solid #b6c5c5;
    flex-shrink: 0;
    background: rgba(208, 208, 208, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* 결제 정보 박스 부분 title text */
  .mobile_order_pay_info_title span {
    font-size: 12px;
  }
  /* 결제 정보 상품 정보 부분 text 영역*/
  .mobile_order_pay_info_total_item_info,
  .mobile_order_pay_info_total_item_price {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
  }
  /* 결제 정보 상품 정보 부분 text */
  .mobile_order_pay_info_total_item_info span,
  .mobile_order_pay_info_total_item_price span {
    font-size: 12px;
    color: black;
  }
  .mobile_order_pay_info_total_item_price span {
    color: #ac1313;
    font-weight: bold;
  }

  /* 최종 결제 금액 왼쪽 border */
  .mobile_order_pay_info_total_price {
    border-left: 1px solid #b6c5c5;
  }
  /* 할인 금액 text 부분 */
  .mobile_pay_info_total_sale_info {
    gap: 4px;
  }
  /* 최종 할인 text 부분 */
  .mobile_order_pay_info_total_item_info .mobile_order_pay_info_total_sale_info {
    color: #6b7878;
  }

  /* 결제 수단 영역 */
  .mobile_order_pay_item_section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 18px;
  }
  /* 결제수단 text */
  .mobile_order_pay_item_section span {
    font-size: 16px;
  }
  /* 결제 수단 box */
  .mobile_order_pay_item_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 0.0625rem solid #b6c5c5;
    border-bottom: 0.0625rem solid #b6c5c5;
  }
  /* 일반결제 text */
  .mobile_order_pay_item_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 109px;
    height: 9rem;
    align-items: center;
    background: rgba(208, 208, 208, 0.3);
    padding-left: 0.875rem;
  }
  .mobile_order_pay_item_title span {
    font-size: 12px;
  }

  /* 결제 수단 radio 버튼 */
  .mobile_order_pay_item_radio_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 8px;
    gap: 8px;
    justify-content: center;
  }
  /* 결제수단 radio layout */
  .mobile_order_pay_credit_card,
  .mobile_order_pay_account_transfer,
  .mobile_order_pay_account_transfer_escorw,
  .mobile_order_pay_virtual_account_escrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
  }
  /* 결제수단 radio 버튼 옆 text 스타일링 */
  .mobile_order_pay_credit_card span,
  .mobile_order_pay_account_transfer span,
  .mobile_order_pay_account_transfer_escorw span,
  .mobile_order_pay_virtual_account_escrow span {
    font-size: 12px;
  }
  /* 최종 결제 금액 영역 */
  .mobile_order_total_price_section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* 최종 결제 금액 헤더 text*/
  .mobile_order_total_price_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    height: 2.6875rem;
    border-top: 0.0625rem solid black;
    border-bottom: 0.0625rem solid #b6c5c5;
  }
  /* 최종 결제 금액 text */
  .mobile_order_total_price_header span {
    font-weight: 700;
  }
  /* 최종 결제 총 금액 text*/
  .mobile_order_total_price_header .mobile_order_total_price {
    font-weight: 800;
    color: #ac1313;
  }

  /* 최종결제금액 체크박스 영역 */
  .mobile_order_total_price_checkbox_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    padding-top: 14px;
    padding-bottom: 28px;
  }
  /* 체크박스 layout */
  .mobile_order_check_box_row_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
  }

  /* 이용약관 버튼 */
  .mobile_order_check_box_row_layout button {
    outline: none;
    border: none;
    background: inherit;
    transform: rotate(90deg);
    position: relative;
    width: 18px;
    height: 18px;
    padding: 0rem;
    margin: 0rem;
  }
  .mobile_order_total_price_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
  }

  /* 필수 text */
  .mobile_order_check_require {
    color: #ac1313;
  }
  /* 장바구니, 결제하기 버튼 영역 */
  .mobile_order_total_button_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    margin-top: 28px;
  }
  /* 장바구니 버튼 */
  .mobile_order_cart_button {
    width: 50%;
    height: 2.375rem;
    border-radius: 2.8125rem;
    background: #ffffff;
    color: #1b4332;
    font-size: 16px;
    font-weight: 400;
    border: 0.0625rem solid #1b4332;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  /* 결제하기 버튼 */
  .mobile_order_pay_button {
    width: 50%;
    height: 2.375rem;
    border-radius: 2.8125rem;
    background: #1b4332;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  /* 최하단 footer 설명영역 */
  .mobile_order_footer_section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 26px;
    border: 0.0625rem solid #b6c5c5;
    border-radius: 15px;
    padding-left: 10px;
    justify-content: center;
    gap: 6px;
    height: 100px;
    margin-bottom: 30px;
  }
  /* 최하단  footer 설명영역 text */
  .mobile_order_footer_section span {
    color: #6b7878;
    font-size: 0.75rem;
  }
  .mobile_order_footer_section span > strong {
    color: black;
  }
}

@media (min-width: 30.0625rem) {
  .mobile_order_root_header {
    display: none;
  }
  .web_total_recipe_root_header {
    display: none;
  }
  /* 주문하기 페이지 최상단 root */
  .web_order_root_header {
    padding: 0rem 1rem;
    background: #fcfcfc;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  .web_order_main_section {
    width: 100%;
  }
  /* 최상단 header */
  .web_order_header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  /* 주문/결제 text */
  .web_order_header_text {
    font-size: 18px;
    font-weight: 400;
  }
  /* HOME > */
  .web_order_header_path {
    font-size: 18px;
    color: #6b7878;
  }
  /* 주문상품, 총 1건 text */
  .web_order_item_header {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: clamp(0.5rem, 0.75rem, 1rem);
    max-width: 900px;
  }
  /* 주문상품, 총 1건 text */
  .web_order_item_header span {
    font-size: clamp(16px, 18px, 20px);
    font-weight: bold;
  }
  /* 화살표 아이콘 */
  .web_order_arrow_icon_wrapper {
    position: relative;
    width: 18px;
    height: 18px;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    background: inherit;
  }
  /* 총1건, 화살표 아이콘 영역 */
  .web_order_total_arrow_icon_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }

  /* 장바구니 영역 */
  .web_order_item_basket_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.75rem 0.75rem 0.625rem 0.75rem;
    border: 1px solid #b6c5c5;

    margin-top: 1.125rem;
    max-width: 56.25rem;
  }

  /* 장바구니 text 및 화살표 아이콘 */
  .web_order_item_basket_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* 장바구니 옆 화살표 아이콘 */
  .web_order_basket_arrow_icon_wrapper {
    position: relative;
    width: 12px;
    height: auto;
    aspect-ratio: 13/8;
    outline: none;
    border: none;
    background: inherit;
    transform: rotate(90deg);
  }

  /* 상품이 추가될 영역 */
  .web_order_item_list {
    width: 100%;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: 0.0625rem solid black;
  }

  /* 추가된 상품의 영역 */
  .web_order_item_area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 80px;
  }
  /* 이미지 */
  .web_order_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .web_order_item_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  /* 상품명 */
  .web_order_item span {
    font-size: clamp(12px, 14px, 16px);
    font-weight: 400;
  }
  /* 상품 이미지 */
  .web_order_item_image_wrapper {
    position: relative;
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1/1;
  }
  /* 장바구니 총 개수 */
  .web_order_basket_item_count_wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.62%;
    text-align: center;
    border: 0.0625rem solid #b6c5c5;
    border-top: none;
    border-right: none;
  }
  /* 장바구니 총 개수 text */
  .web_order_basket_item_count {
    font-size: clamp(12px, 14px, 16px);
    font-weight: 400;
  }

  /* 비율 적용 */
  .web_order_item_name {
    display: block;
    width: 68.33%;
    padding-left: 10px;
    border: 0.0625rem solid #b6c5c5;
    border-top: none;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* 상품금액 */
  .web_order_basket_item_price_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    align-items: center;
    width: 22.05%;
    border: 0.0625rem solid #b6c5c5;
    border-top: none;
    height: 100%;
  }
  /* 상품금액 text */
  .web_order_basket_item_price_wrapper span {
    font-size: 12px;
    font-weight: 400;
  }

  /* 최종 영수증 영역 */
  .web_order_final_recipe_section {
    border: 1px solid black;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1rem;
    padding: 1rem 1rem 1.125rem 1rem;
    max-width: 56.25rem;
  }

  /* 최종 영수증 상단부 영역 */
  .web_order_final_recipe_top_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* 최종 영수증 총xxx text 영역 */
  .web_order_fianl_recipe_total_title,
  .web_order_fianl_recipe_item_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
  }
  /* 상품 가격 및 갯수 오른쪽 끝 공간에 붙이기 */
  .web_order_fianl_recipe_item_info {
    align-items: flex-end;
  }
  /* 글자 스타일링 */
  .web_order_fianl_recipe_total_title span,
  .web_order_fianl_recipe_item_info span {
    font-size: 1rem;
    font-weight: 400;
  }
  /* 최종 영수증 중간선 스타일링 */
  .web_order_final_recipe_line {
    padding: 0;
    width: 100%;
    height: 1px;
    border: none;
    background-color: black;
  }
  /* 최종 영수증 하단부 영역 */
  .web_order_final_recipe_bottom_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* 최종 영수증 하단 레이아웃 */
  .web_order_final_recipe_bottom_total_title,
  .web_order_final_recipe_bottom_item_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
  }
  /* 최종 영수증 하단부 오른쪽 끝 붙이기 */
  .web_order_final_recipe_bottom_item_info {
    align-items: flex-end;
  }
  /* 최종 영수증 하단부 font 스타일링 */
  .web_order_final_recipe_bottom_total_title span,
  .web_order_final_recipe_bottom_item_info span {
    font-size: 1rem;
    font-weight: 400;
  }
  /* 총 상품금액 금액 text */
  .web_order_final_recipe_bottom_item_total_price {
    color: #ac1313;
  }

  /* 장바구니 가기 버튼 영역  */
  .web_order_go_shopping_cart_button_wrapper {
    margin-top: 1rem;
    width: 100%;
  }

  /* 장바구니 가기 버튼 */
  .web_order_go_shopping_cart_button {
    width: 142px;
    border: 1px solid #1b4332;
    border-radius: 50px;
    outline: none;
    height: 40px;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.375rem;
  }
  /* 장바구니 버튼 text */
  .web_order_go_shopping_cart_button span {
    color: #1b4332;
    font-size: 1rem;
    font-weight: 500;
  }

  /* 주문자 정보 form 영역 fieldset 초기화 */
  .web_order_orderer_info_section fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    margin-top: 3.125rem;
    width: 100%;
    max-width: 900px;
  }
  /* 주문자 정보 */
  .web_order_orderer_info {
    font-size: 20px;
    font-weight: bold;
  }

  /* 빨간색 * (필수요소) */
  .required_star {
    color: red;
  }

  /* 주문자 정보 영역 */
  .web_order_info_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-top: 1px solid black;
  }
  /* 입력 영역 */
  .web_order_orderer_info_row_layout {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b6c5c5;
    flex: 1;
  }
  .web_order_orderer_info_row_layout label {
    background: rgba(208, 208, 208, 0.3);
  }
  .web_order_orderer_info_row_layout input {
    flex: none;
    width: clamp(220px, 30vw, 300px);
    height: 2.5rem;
    padding: 0.625rem;
    margin-left: 10px;
  }

  /* 주문하시는분, 휴대폰 번호 */
  .web_order_text_wrapper {
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 203px;
    height: 60px;
    border-right: 1px solid #b6c5c5;
    flex-shrink: 0;
  }
  /* 주문하시는분, 휴대폰 번호 text */
  .web_order_text_wrapper span {
    font-size: 1rem;
  }

  /* 이메일 부분 root */
  .web_order_orderer_info_row_email_layout {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b6c5c5;
    height: 60px;
  }
  .web_order_orderer_info_row_email_layout label {
    background: rgba(208, 208, 208, 0.3);
  }
  /* 이메일 부분 input */
  .web_order_orderer_info_row_email_layout input {
    padding: 10px;
  }
  /* 이메일 부분 text */
  .web_order_email_text_wrapper span {
    font-size: 16px;
  }

  .web_order_email_text_wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.625rem;
    width: 12.6875rem;
    height: 3.75rem;
    border-right: 0.0625rem solid #b6c5c5;
  }

  /* 이메일 부분 input , select 영역 */
  .web_order_email_input_select_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 10px;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
  }
  /*  이메일 부분 input, select */
  .web_order_email_input_select_wrapper input {
    width: 50%;
    max-width: 300px;
    height: 40px;
  }
  .web_order_email_input_select_wrapper select {
    width: 50%;
    max-width: 189px;
    height: 40px;
  }
  /* 구매내역 설명 영역 */
  .web_order_explain_section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 1.25rem;
    border: 0.0625rem solid #b6c5c5;
    height: 5.8125rem;
    padding: 1.125rem 0px 1.125rem 1.125rem;
    max-width: 900px;
  }
  /* 구매내역 설명 영역 text */
  .web_order_explain_section span {
    color: #6b7878;
    font-size: 1rem;
  }

  /* 배송정보 영역 */
  .web_order_post_info_section {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    max-width: 900px;
  }
  /* 배송정보 아래 선 */
  .web_order_post_info_header {
    padding-bottom: 0.75rem;
    border-bottom: 0.0625rem solid black;
  }
  /* 배송정보 text */
  .web_order_post_info_header span {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
  }
  /* 배송정보 하단 라디오 버튼 */
  .web_order_post_info_radio_button_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.75rem;
    margin-left: 10px;
  }
  /* 배송정보 하단 라디오 버튼 text들 */
  .web_order_post_info_default_address_wrapper > span,
  .web_order_post_info_user_input_rapper > span,
  .web_order_post_info_post_adresss_list_wrapper > span {
    font-size: 0.875rem;
    color: black;
    font-weight: 400;
  }
  /* 배송지 관리 버튼 */
  .web_post_address_button {
    background: inherit;
    border: 1px solid #1b4332;
    color: #1b4332;
    width: 6.625rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
  }
  /* 배송지 확인 text */
  .web_order_post_address_check_text {
    margin-left: 0.625rem;
  }
  /* 배송정보 하단 라디오 버튼 layout */
  .web_order_post_info_default_address_wrapper,
  .web_order_post_info_user_input_rapper,
  .web_order_post_info_post_adresss_list_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    align-items: center;
  }
  /* 배송정보 사용자 입력 공간 */
  .web_order_post_info_write_section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: none;
    border-top: 1px solid #b6c5c5;
    padding: 0px;
  }
  /* 입력 영역 */
  .web_order_post_info_row_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid #b6c5c5;
    align-items: center;
    width: 100%;
  }
  /* required가 있는 text */
  .web_order_post_info_row_layout_required_text {
    font-size: 16px;
    width: 12.6875rem;
    height: 3.75rem;
    border-right: 1px solid #b6c5c5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 10px;
    gap: 0.25rem;
    background: rgba(208, 208, 208, 0.3);
    flex-shrink: 0;
  }
  /* required가 없는 text */
  .web_order_post_info_row_layout_text {
    width: 12.6875rem;
    height: 3.75rem;
    border-right: 1px solid #b6c5c5;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 1.25rem;
    flex-shrink: 0;
    background: rgba(208, 208, 208, 0.3);
  }

  /* 입력 영역 */
  .web_order_post_info_row_layout label {
    flex: 1;
  }

  /* input 영역 */
  .web_order_post_info_row_layout label > input {
    width: 100%;
    height: 40px;
    max-width: 300px;
    font-size: 1rem;
    padding-left: 10px;
  }

  /* 배송정보 주소 영역 */
  .post_address {
    height: 6.9375rem;
    flex-shrink: 0;
  }

  /* 배송정보 주소 input 영역 */
  .web_order_post_info_post_address_input_section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.625rem;
    padding-left: 10px;
    width: 100%;
  }
  .web_order_post_info_post_address_input_section label {
    max-width: 300px;
    padding-left: 0;
  }
  .web_order_post_info_post_address_input_section label > input {
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    max-width: 300px;
  }

  /* 우편 번호 검색 버튼 */
  .post_info_post_address_button {
    width: 7.125rem;
    height: 2.5rem;
    background: #1b4332;
    color: #ffffff;

    font-size: 12px;
    font-weight: 500;
    padding: 13px 0;
    border: 0;
  }
  .web_order_post_info_post_address_top_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.625rem;
  }

  .web_order_post_info_post_address_input_section label > input:disabled {
    background: rgba(208, 208, 208, 0.4);
  }

  /* 남기실 말씀 */
  .web_order_post_info_orderer_tell {
    height: 5.125rem;
  }
  /* 남기실 말씀  input 영역 */
  .web_order_post_info_row_layout .web_order_post_info_ordder_sound_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10px;
    gap: 8px;
    width: 100%;
  }
  /* 남기실 말씀 span */
  .web_order_post_info_row_layout .web_order_post_info_ordder_sound_wrapper span {
    font-size: 0.625rem;
  }
  /* 남기실 말씀 input padding-left 값 초기화 */
  .web_order_post_info_row_layout .web_order_post_info_ordder_sound_wrapper label {
    padding-left: 0px;
    flex: 1;
    max-width: 611px;
  }
  .web_order_post_info_row_layout .web_order_post_info_ordder_sound_wrapper label > input {
    max-width: none;
    width: 100%;
    height: 40px;
  }
  /* 회원정보 반영 check_box */
  .web_order_post_info_button_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 10px;
    gap: 2.125rem;
  }
  .check_box_wrapper {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  /* 체크박스 text 수정 */
  .web_order_post_info_button_section .web_order_post_info_button_wrapper span {
    font-size: 1rem;
  }
  /* 나의 배송지에 추가합니다 text */
  .web_post_info_check_box_red_text {
    color: #ac1313;
  }
  /* input layout */
  .web_order_input_margin_layout {
    margin-left: 0.625rem;
  }

  /*  체크박스 영역 */
  .web_order_post_info_button_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
  }

  /* 체크박스 영역 text */
  .web_order_post_info_button_wrapper span {
    font-size: 12px;
  }

  /* 결제 정보 영역 */
  .web_order_pay_info_section {
    margin-top: 30px;
  }
  /* 결제 정보 text */
  .web_order_pay_info_section h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  /* 결제 정보 박스 부분 */
  .web_order_pay_info_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: 0.0625rem solid black;
    margin-top: 1rem;
  }
  /* 결제 정보 박스 부분 layout */
  .web_order_pay_info_row_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 0.0625rem solid #b6c5c5;
  }
  /* 결제 정보 박스 부분 title */
  .web_order_pay_info_title {
    width: 12.6875rem;
    height: 3.75rem;
    border-right: 1px solid #b6c5c5;
    flex-shrink: 0;
    background: rgba(208, 208, 208, 0.3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  /* 결제 정보 박스 부분 title text */
  .web_order_pay_info_title span {
    font-size: 16px;
  }
  /* 결제 정보 상품 정보 부분 text 영역*/
  .web_order_pay_info_total_item_info,
  .web_order_pay_info_total_item_price {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
  }
  /* 결제 정보 상품 정보 부분 text */
  .web_order_pay_info_total_item_info span,
  .web_order_pay_info_total_item_price span {
    font-size: 0.875rem;
    color: black;
  }
  .web_order_pay_info_total_item_price span {
    color: #ac1313;
    font-weight: bold;
  }

  /* 최종 결제 금액 왼쪽 border */
  .web_order_pay_info_total_price {
    border-left: 1px solid #b6c5c5;
  }
  /* 할인 금액 text 부분 */
  .web_pay_info_total_sale_info {
    gap: 8px;
  }
  /* 최종 할인 text 부분 */
  .web_order_pay_info_total_item_info .web_order_pay_info_total_sale_info {
    color: #6b7878;
  }

  /* 결제 수단 영역 */
  .web_order_pay_item_section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 18px;
  }
  /* 결제수단 text */
  .web_order_pay_item_section h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  /* 결제 수단 box */
  .web_order_pay_item_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 0.0625rem solid black;
    border-bottom: 0.0625rem solid #b6c5c5;
  }
  /* 일반결제 text */
  .web_order_pay_item_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 12.6875rem;
    height: 3.75rem;
    align-items: center;
    background: rgba(208, 208, 208, 0.3);
    padding-left: 0.875rem;
    flex-shrink: 0;
  }
  .web_order_pay_item_title span {
    font-size: 1.25rem;
  }

  /* 결제 수단 radio 버튼 */
  .web_order_pay_item_radio_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 8px;
    gap: 1.5rem;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
  }
  /* 결제수단 radio layout */
  .web_order_pay_credit_card,
  .web_order_pay_account_transfer,
  .web_order_pay_account_transfer_escorw,
  .web_order_pay_virtual_account_escrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
  }
  /* 결제수단 radio 버튼 옆 text 스타일링 */
  .web_order_pay_credit_card span,
  .web_order_pay_account_transfer span,
  .web_order_pay_account_transfer_escorw span,
  .web_order_pay_virtual_account_escrow span {
    font-size: 1rem;
  }
  /* 최종 결제 금액 영역 */
  .web_order_total_price_section {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* 최종 결제 금액 헤더 text*/
  .web_order_total_price_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 6.125rem;
    font-size: 16px;
    height: 2.6875rem;
    border-top: 0.0625rem solid black;
    border-bottom: 0.0625rem solid #b6c5c5;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  /* 최종 결제 금액 text */
  .web_order_total_price_header span {
    font-weight: 700;
  }
  /* 최종 결제 총 금액 text*/
  .web_order_total_price_header .web_order_total_price {
    font-weight: 800;
    color: #ac1313;
  }

  /* 최종결제금액 체크박스 영역 */
  .web_order_total_price_checkbox_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    padding-top: 14px;
    padding-bottom: 28px;
  }
  /* 체크박스 layout */
  .web_order_check_box_row_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
  }

  /* 이용약관 버튼 */
  .web_order_check_box_row_layout button {
    outline: none;
    border: none;
    background: inherit;
    transform: rotate(90deg);
    position: relative;
    width: 18px;
    height: 18px;
    padding: 0rem;
    margin: 0rem;
  }
  .web_order_total_price_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
  }

  /* 필수 text */
  .web_order_check_require {
    color: #ac1313;
  }
  /* 장바구니, 결제하기 버튼 영역 */
  .web_order_total_button_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    margin-top: 28px;
  }
  /* 장바구니 버튼 */
  .web_order_cart_button {
    width: 50%;
    height: 2.375rem;
    border-radius: 2.8125rem;
    background: #ffffff;
    color: #1b4332;
    font-size: 16px;
    font-weight: 400;
    border: 0.0625rem solid #1b4332;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  /* 결제하기 버튼 */
  .web_order_pay_button {
    width: 50%;
    height: 2.375rem;
    border-radius: 2.8125rem;
    background: #1b4332;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  /* 최하단 footer 설명영역 */
  .web_order_footer_section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 26px;
    border: 0.0625rem solid #b6c5c5;

    padding-left: 10px;
    justify-content: center;
    gap: 6px;
    height: 100px;
    margin-bottom: 4.375rem;
  }
  /* 최하단  footer 설명영역 text */
  .web_order_footer_section span {
    color: #6b7878;
    font-size: 1rem;
  }
  .web_order_footer_section span > strong {
    color: black;
  }
  /* 오른쪽 사이드바 영역 */
  .web_total_recipe_root_header {
    position: sticky;
    margin-top: 110px;
    top: 170px;
    width: 21.125rem;
    height: 537px;
    align-self: flex-start;
    flex-shrink: 0;
    background: #fcfcfc;
  }
  .web_order_final_recipe_middle_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .web_order_fianl_recipe_total_title,
  .web_order_fianl_recipe_item_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }
  .web_order_final_recipe_middle_line {
    padding: 0;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #b6c5c5;
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;
  }
  .web_order_final_recipe_final_line {
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background-color: black;
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;
  }
  .web_side_order_final_recipe_bottom_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .web_side_order_final_recipe_bottom_total_title,
  .web_side_order_final_recipe_bottom_item_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }
  .web_side_order_final_recipe_bottom_item_info {
    display: flex;
    align-items: flex-end;
  }
  .web_side_order_final_recipe_bottom_item_total_price {
    color: #ac1313;
    font-weight: bold;
  }
  .web_side_order_final_total_price_title {
    font-weight: bold;
  }

  .web_side_order_total_price_checkbox_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    padding-top: 14px;
    padding-bottom: 28px;
    margin-top: 6px;
    justify-content: center;
  }
  .web_side_order_final_recipe_section {
    border: 1px solid black;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1rem;
    padding: 2rem 1.875rem 1.25rem 1.875rem;
    max-width: 56.25rem;
  }
  /* 결제하기 버튼 */
  .web_side_pay_do_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 62px;
  }
  .web_side_pay_do_button_wrapper button {
    width: 14.125rem;
    height: 100%;
    border: none;
    background: #1b4332;
    color: white;
    font-size: 1.25rem;
    border-radius: 2.8125rem;
    box-shadow: none;
  }
}
@media (min-width: 480px) {
  .web_order_root_header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .web_order_root_header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .web_order_root_header {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1440px) {
  .web_order_root_header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 1300px) {
  .web_total_recipe_root_header {
    display: flex;
  }
  .web_order_final_recipe_section,
  .web_order_total_price_checkbox_wrapper,
  .web_order_total_button_wrapper {
    display: none;
  }
  .web_order_total_price_header {
    border-bottom: 0;
  }
}
