/* 모바일 뷰  */
@media (max-width: 480px) {
  .web_root_header {
    display: none;
  }
  .mobile_root_header {
    background: #fcfcfc;
    min-height: 100vh;
    height: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  /* 회원정보 영역 */
  .mobile_user_info_section {
    padding-top: 1.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.125rem;
  }
  /* 회원정보 */
  .mobile_user_info_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    align-items: flex-end;
  }
  /* 회원 이름 */
  .mobile_user_info {
    font-size: 1rem;
    font-weight: bold;
  }
  /* 보유중인 스탬프 및 수령한 상품 */
  .mobile_user_result_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background: rgba(208, 208, 208, 0.2);
    padding: 10px 0px 8px 16px;
  }
  /* 보유중인 스탬프 */
  .mobile_have_stamp,
  .mobile_get_gift {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    gap: 0.25rem;
  }
  /* 스탬프 및 수령한 상품 텍스트 */
  .mobile_have_stamp_text,
  .mobile_get_gift_text {
    font-size: 0.9375rem;
    font-weight: 600;
  }
  /* 스탬프 및 수령한 상품 개수 */
  .mobile_have_stamp_count,
  .mobile_get_gift_count {
    color: #ff0000;
    font-weight: bold;
    font-size: 0.9375rem;
  }

  /* 당첨내역 조회 영역 */
  .mobile_view_lottery_result_section {
    margin-top: 2.25rem;
  }
  /* 당첨내역 조회  */
  .mobile_view_lottery_result_section h2 {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  /* 당첨내역 조회 아래 선 */
  .mobile_lottery_main_bottom_line {
    border: 1px solid #081818;
  }

  /* 조회하는 박스 */
  .mobile_view_lottery_result {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #b6c5c5;
    padding: 4px 20px 10px 10px;
    margin-top: 0.9375rem;
  }
  /* 조회기간 text */
  .mobile_view_lottery_result span {
    font-size: 15px;
    font-weight: bold;
  }
  /* 조회기간 버튼들 영역 */
  .mobile_view_lottery_day_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 6px;
  }
  /* 조회기간 버튼 */
  .mobile_view_lottery_day_wrapper button {
    outline: none;
    border: 1px solid #b6c5c5;
    padding: 10px;
    padding-top: 5px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: inherit;
    color: #081818;
    font-weight: bold;
    font-size: 10px;
  }

  /* 조회기간 날짜 영역 */
  .mobile_view_lottery_day_result_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 14px;
    margin-top: 1.25rem;
  }

  /* 조회기간 input 영역 */
  .mobile_view_lottery_day_first input,
  .mobile_view_lottery_day_second input {
    width: 74px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
  }
  /* 당첨내역 영역 */
  .mobile_lottery_result_section {
    margin-top: 1.875rem;
  }
  /* 당첨내역 text */
  .mobile_lottery_result_section h2 {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  /* 당첨내역 세부사항 영역 */
  .mobile_lottery_result_header {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 20.63% 34.67% 15.76% 13.75% 15.18%;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
  }
  /* 헤더 div 박스들 */
  .mobile_lottery_result_header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6c5c5;
    border-top: 1px solid #081818;
    padding: 8px;
    white-space: nowrap;
  }
  /* 반복되는 상품  */
  .mobile_lottery_result_row {
    display: grid;
    grid-template-columns: 20.63% 34.67% 15.76% 13.75% 15.18%;
  }

  /* 반복되는 상품 세부사항 */
  .mobile_lottery_result_row > div {
    font-size: 0.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #b6c5c5;
  }
  /* 제품명이 길면 ...으로 처리 */
  .mobile_item_name {
    overflow: hidden;

    white-space: nowrap;
  }
  /* 375px 일때 폰트사이즈 수정 */
  @media (min-width: 375px) {
    .mobile_view_lottery_day_wrapper button {
      font-size: 0.75rem;

      width: 50px;
    }
  }
}

/* 웹 뷰 */
@media (min-width: 481px) {
  .mobile_root_header {
    display: none;
  }
  .web_root_header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    background: #fcfcfc;
  }
  .web_root_path {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    color: #6b7878;
    font-size: 1.125rem;
    font-weight: bold;
  }
  .web_recent_path {
    color: black;
  }
  .web_main_page_section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4.375rem;
  }

  .web_main_page_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
  }

  /* 회원정보 영역 */
  .web_user_info_section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.125rem;
  }
  .web_user_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-right: 1px solid #b6c5c5;
    padding-right: 1.875rem;
  }
  .web_user_name {
    font-size: 16px;
    font-weight: bold;
  }
  .web_class_rewards {
    width: 4.6875rem;
    height: 1.5625rem;
    font-size: 0.75rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* 보유중인 스탬프 및 수령한 상품 */
  .web_user_result_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: rgba(208, 208, 208, 0.2);
    padding: 3.125rem 1.875rem;
    gap: 3.125rem;
  }
  /* 보유중인 스탬프 */
  .web_have_stamp,
  .web_get_gift {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    gap: 1rem;
  }
  .web_have_stamp {
    border-right: 1px solid #b6c5c5;
    padding-right: 1.875rem;
  }
  /* 스탬프 및 수령한 상품 텍스트 */
  .web_have_stamp_text,
  .web_get_gift_text {
    font-size: 1.125rem;
    font-weight: 600;
  }
  /* 스탬프 및 수령한 상품 개수 */
  .web_have_stamp_count,
  .web_get_gift_count {
    color: #ff0000;
    font-weight: bold;
    font-size: 1.25rem;
  }

  /* 당첨내역 조회 영역 */
  .web_view_lottery_result_section {
    margin-top: 2.25rem;
  }
  /* 당첨내역 조회  */
  .web_view_lottery_result_section h2 {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  /* 당첨내역 조회 아래 선 */
  .web_lottery_main_bottom_line {
    border: 1px solid #081818;
  }

  /* 조회하는 박스 */
  .web_view_lottery_result {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #b6c5c5;
    padding: 4px 20px 10px 10px;
    margin-top: 0.9375rem;
  }
  /* 조회기간 text */
  .web_view_lottery_result span {
    font-size: 15px;
    font-weight: bold;
  }
  /* 조회기간 버튼들 영역 */
  .web_view_lottery_day_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 6px;
  }
  /* 조회기간 버튼 */
  .web_view_lottery_day_wrapper button {
    outline: none;
    border: 1px solid #b6c5c5;
    padding: 10px;
    padding-top: 5px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: inherit;
    color: #081818;
    font-weight: bold;
    font-size: 10px;
  }

  /* 조회기간 날짜 영역 */
  .web_view_lottery_day_result_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 14px;
    margin-top: 1.25rem;
  }

  /* 조회기간 input 영역 */
  .web_view_lottery_day_first input,
  .web_view_lottery_day_second input {
    width: 74px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
  }
  /* 당첨내역 영역 */
  .web_lottery_result_section {
    margin-top: 1.875rem;
  }
  /* 당첨내역 text */
  .web_lottery_result_section h2 {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  /* 당첨내역 세부사항 영역 */
  .web_lottery_result_header {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 20.63% 34.67% 15.76% 13.75% 15.18%;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
  }
  /* 헤더 div 박스들 */
  .web_lottery_result_header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6c5c5;
    border-top: 1px solid #081818;
    padding: 8px;
    white-space: nowrap;
  }
  /* 반복되는 상품  */
  .web_lottery_result_row {
    display: grid;
    grid-template-columns: 20.63% 34.67% 15.76% 13.75% 15.18%;
  }

  /* 반복되는 상품 세부사항 */
  .web_lottery_result_row > div {
    font-size: 0.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #b6c5c5;
  }
  /* 제품명이 길면 ...으로 처리 */
  .web_item_name {
    overflow: hidden;

    white-space: nowrap;
  }
  /* 375px 일때 폰트사이즈 수정 */
  @media (min-width: 375px) {
    .web_view_lottery_day_wrapper button {
      font-size: 0.75rem;

      width: 50px;
    }
  }
  .web_lottery_result_section h2 {
    font-size: 1.125rem;
    font-weight: bold;
  }
  .web_lottery_result_header div {
    font-size: clamp(14px, 16px, 18px);
    font-weight: bold;
  }
  .web_lottery_result_row div {
    font-size: clamp(14px, 16px, 18px);
  }
  .web_lottery_result_row {
    padding-top: 0.5rem;
  }
}

/* 뷰포트에 따른 양옆 간격 */
@media (min-width: 480px) {
  .web_root_header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .web_root_header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .web_main_page_section {
    gap: 40px;
  }
}

@media (min-width: 1024px) {
  .web_root_header {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1440px) {
  .web_root_header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 1055px) {
  .web_view_lottery_result {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    padding-left: 45px;
  }
  .web_view_lottery_day_wrapper button {
    font-weight: bold;
  }
  .web_view_lottery_day_wrapper {
    flex: 1;
  }
  .web_view_lottery_day_first,
  .web_view_lottery_day_second,
  .web_view_lottery_day_first input,
  .web_view_lottery_day_second input,
  .view_rewards_button,
  .web_view_lottery_day_result_wrapper {
    margin: 0;
    padding: 0;
  }
  .web_view_lottery_day_first,
  .web_view_lottery_day_second {
    display: flex;
    align-items: center;
  }
  .web_view_lottery_day_first input,
  .web_view_lottery_day_second input,
  .web_view_lottery_day_wrapper button {
    height: 40px;
  }
  .web_view_lottery_day_first,
  .web_view_lottery_day_second {
    max-width: 8.75rem;
  }
  .web_view_lottery_day_first input,
  .web_view_lottery_day_second input {
    width: 100%;
    padding-left: 1rem;
    font-size: 1rem;
    height: 2.5rem;
  }
  .web_view_lottery_day_wrapper button {
    width: 100%;
    max-width: 4.375rem;
    font-size: 16px;
  }
  .view_rewards_button {
    background: black !important;
    color: white;
    height: 2.1875rem;
  }
}
